#primary-nav {
  display: flex;
  justify-content: flex-end;
}

.menu{
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: row;
}

#primary-nav .menu li:hover {
  background: transparent;
}

#primary-nav .menu li a {
  padding: 18px 22px;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 300;
  text-decoration: none;
}

#primary-nav .menu li a:hover {
  background-color: transparent;
}
